<script type="text/javascript" src="js/dashboard.js"></script>

    
    <link rel='stylesheet' href='css/dashboard.css'>
    <div class="containerLogo">
        <div class="logo">
        <a href="https://painelboxcubo.herokuapp.com/home"><img src="https://scc4.com.br/images/logo_boxcubo.png" width="200" height="50"></a>
        </div>
        <div class="titulo">
            <h2>Painel de Controle BoxCubo</h2>
        </div>
        <div class="sair">

        </div>
    </div>

    <div class="containerLogo">
        <div class="painelBoxCubo">
            <legend>Display BoxCubo</legend>
            <h2><%=mensagemBox%></h2>

            </div>
     <div class="displayPainel">
            <legend>Display Painel de Controle</legend>
            <h2><%=mensagemPainel%></h2>
        </div>
    </div>

    <div class="containerLogo">
        <div class="informacoes">
        <legend>Informações do Equipamento</legend>
        <div class="containerInformacoes">
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">Série:</label>
            <label class="labelInfo"><%=serie%></label>
        </div>
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">IP:</label>
            <label class="labelInfo"><%=ip%></label>
        </div>
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">SRV:</label>
            <label class="labelInfo"><%=srv%></label>
        </div>
        <div class="info"> 
            <label class="labelInfo"  style="font-weight: bold;">MAC:</label>
            <label class="labelInfo"><%=mac%></label>
        </div>
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">Erro:</label>
            <label class="labelInfo"><%=erro%></label>
        </div>
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">Protocolo:</label>
            <label class="labelInfo"><%=protocolo%></label>
        </div>
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">Reinicialização/dia:</label>
            <label class="labelInfo"><%=reinicializacao%></label>
        </div>
        <div class="info">
            <label class="labelInfo" style="font-weight: bold;">Objetos Processados/dia:</label>
            <label class="labelInfo"><%=processados%></label>
        </div>

    </div>
    </div>
    </div>
    
    
        <div class="caixaTresElementos">
            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Calibrar Sensores</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="x" size="2" placeholder="X" style="text-align: center;">
                    <input type="text" name="y" size="2" placeholder="Y" style="text-align: center;">
                    <input type="text" name="z" size="2" placeholder="Z" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDCALIB>">Enviar</button>
                </form>
            </div>

            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Teste Stress Sensores</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="testeStress" size="25" placeholder="Número de Iterações" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDSTRESS>">Enviar</button>
                </form>
            </div>

            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Alterar Endereço Servidor</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="enderecoServidor" size="25" placeholder="Endereço IP" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDSRV>">Enviar</button>
                </form>
            </div>

            
            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Alterar Endereço BoxCubo</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="enderecoBoxCubo" size="25" placeholder="Endereço IP" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDNET>">Enviar</button>
                </form>
            </div>

            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Fixar Endereço BoxCubo</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="enderecoBoxCuboFixo" size="25" placeholder="Endereço IP" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDNET>">Enviar</button>
                </form>
            </div>

            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Acessar Rede WIFI</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="SSID" size="8" placeholder="Login" style="text-align: center;">
                    <input type="text" name="Senha" size="8" placeholder="Senha" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDWIFI>">Enviar</button>
                </form>
            </div>

            <div class="containerDiv">
                <div class="cabecalho">
                    <label>Alterar Número de Série</label>
                </div>
                <form action="/form" method="POST">
                    <input type="text" name="numeroSerie" size="25" placeholder="Número de Série" style="text-align: center;">
                    <button type="submit" name="comando" value="CMDSERIE>">Enviar</button>
                </form>
            </div>
     
        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Reiniciar BoxCubo</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDREBOOT">Enviar</button>
            </form>
        </div>

        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Desligar BoxCubo</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDPOWEROFF">Enviar</button>
            </form>
        </div>

        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Reiniciar Linux</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDRESTART">Enviar</button>
            </form>
        </div>

        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Teste Média Sensor</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDTESTMEDIA">Enviar</button>
            </form>
        </div>

        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Teste Self Sensor</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDTESTSELF">Enviar</button>
            </form>
        </div>

        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Inverter Sensores</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDUNVERSUS">Enviar</button>
            </form>
        </div>
        
        <div class="containerDiv2">
            <div class="cabecalho">
                <label>Modo Balança</label>
            </div>
            <form action="/form" method="POST">
                   <button class="botao" name="comando" value="CMDMDODSDIM">Enviar</button>
            </form>
        </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Modo Cubagem</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDMDOENDIM">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Desligar Buzzer</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDDSBUZZER">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Ligar Buzzer</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDENBUZZER">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Desligar Câmera</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDDSCAM">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Ligar Câmera</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDENCAM">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Mostrar Endereço IP BoxCubo</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDSHOWIP">Enviar</button>
        </form>
    </div>
    
    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Ativar Acesso SSH</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDENSSH">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Desativar Acesso SSH</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDDSSSH">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Ativar PLP</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDENPLP">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Desativar PLP</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDDSPLP">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Integração Portal Postal</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDBASH>PP">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Integração Sect Soap</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDBASH>SECTSOAP">Enviar</button>
        </form>
    </div>

    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Integração Sect Web Service</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDBASH>SECTWS">Enviar</button>
        </form>
    </div>
    
    <div class="containerDiv2">
        <div class="cabecalho">
            <label>Integração SGP</label>
        </div>
        <form action="/form" method="POST">
               <button class="botao" name="comando" value="CMDBASH>SGP">Enviar</button>
        </form>
    </div>
</div>



   
    
