<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{ 
        color:#fff;
            }
</style>


<table class="table table-striped">
    <tr  class="bg-info">
        <th>Serie</th>
        <th>Mac</th>
		<th>Ip</th>
		<th>Estado</th>
		<th>Calibração</th>
		<th>Erro</th>
		<th>Versão</th>
		<th>Localização</th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<script>
	var myArray = [
	    {'serie':'<%= serie %>', 'mac':'<%= mac %>', 'ip':'<%= ip %>', 'estado':'<%= estado %>', 'calibracao':'<%= calibracao %>', 'erro':'<%= erro %>', 'versao':'<%= versao %>','localizacao':'<%= localizacao %>'},
	    {'serie':'<%= serie1 %>', 'mac':'<%= mac1 %>', 'ip':'<%= ip1 %>', 'estado':'<%= estado1 %>', 'calibracao':'<%= calibracao1 %>', 'erro':'<%= erro1 %>', 'versao':'<%= versao1 %>','localizacao':'<%= localizacao1 %>'},
	   
	]
	
	buildTable(myArray)



	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].serie}</td>
							<td>${data[i].mac}</td>
							<td>${data[i].ip}</td>
							<td>${data[i].estado}</td>
							<td>${data[i].calibracao}</td>
							<td>${data[i].erro}</td>
							<td>${data[i].versao}</td>
							<td>${data[i].localizacao}</td>
					  </tr>`
			table.innerHTML += row
		}
	}

</script>