<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Painel BoxCubo</title>
</head>
<body>
    <div class="content">
        <table class="rTable">
            <thead>
                <tr>
                    <th>Num. Série</th>
                    <th>Mac</th>
                    <th>IP</th>
                    <th>Estado</th>
                    <th>Calibração</th>
                    <th>Localização</th>
                    <th>Erro</th>
                    <th>Versão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= serie1 %></td>
                    <td><%= mac1 %></td>
                    <td><%= ip1 %></td>
                    <td><%= estado1 %></td>
                    <td><%= calibracao1 %></td>
                    <td><%= localizacao1 %></td>
                    <td><%= erro1 %></td>
                    <td><%= versao1 %></td>
                </tr>
                <tr>
                    <td><%= serie2 %></td>
                    <td><%= mac2 %></td>
                    <td><%= ip2 %></td>
                    <td><%= estado2 %></td>
                    <td><%= calibracao2 %></td>
                    <td><%= localizacao2 %></td>
                    <td><%= erro2 %></td>
                    <td><%= versao2 %></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

<style>
    *{margin: 0; padding: 0; box-sizing: border-box;}

.content{display: flex;margin: auto;}

.rTable{width: 100%; text-align: center;}

    .rTable thead{background: black; font-weight: bold; color: #fff;}
    .rTable tbody tr:nth-child(2n){background: #ccc;}

@media screen and (max-width: 480px){


}

@media only screen and (min-width: 1200px){
    .content{width: 100%;}

    .rTable tbody tr td:nth-child(1){width: 10%;} 
    .rTable tbody tr td:nth-child(2){width: 15%;} 
    .rTable tbody tr td:nth-child(3){width: 15%;} 
    .rTable tbody tr td:nth-child(4){width: 10%;} 
    .rTable tbody tr td:nth-child(5){width: 10%;} 
    .rTable tbody tr td:nth-child(6){width: 20%;} 
    .rTable tbody tr td:nth-child(7){width: 10%;} 
    .rTable tbody tr td:nth-child(8){width: 10%;} 

}
</style>