<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>



</head>
<body>
    <div>
    <h1>Painel BoxCubo</h1>
    </div>
    <div>
    <h2> Numero de série: <%= serie %></h2>    
    <h2> Mac: <%= mac %></h2>
    <h2> Status: <%= status %></h2>
    <h2> Localização: <%= localizacao %></h2>
    <h2> Erro: <%= erro %></h2>
    <h2> Calibração: <%= calibracao %></h2>
</div>
</body>
</html>