<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <meta http-equiv=”refresh” content=”10”>


</head>
<body>
    <h1> Mac: <%= mac %></h1>
    <h1> Status: <%= status %></h1>
    <h1> Localização: <%= localizacao %></h1>
    <h1> Erro: <%= erro %></h1>
    <h1> Calibração: <%= calibracao %></h1>

</body>
</html>